 ## For Loops

In [3]:
customer_ratings = [
    '5 stars', '3 stars', '5 stars', '4 stars', '4 stars', 
    '1 stars', '4 stars', '5 stars', '2 stars', '5 stars', 
]

In [9]:
rating = int(customer_ratings[0][0])
rating

5

In [17]:
numeric_ratings = []

for rating in customer_ratings:
    #print(int(rating[0]))
    numeric_ratings.append(int(rating[0]))
numeric_ratings

[5, 3, 5, 4, 4, 1, 4, 5, 2, 5]

In [19]:
sum(numeric_ratings) / len(numeric_ratings)

3.8

### Looping over Indeces

In [22]:
inventory = [10, 14, 10, 15, 8, 27]

prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

In [24]:
for i in range(len(inventory)):
    print(i)

0
1
2
3
4
5

In [32]:
for i in range(len(inventory)):
    print(round(inventory[i] * prices[i], 2))

29.9
1399.86
2199.9
1349.85
239.92
269.73

In [36]:
product_values = []

for i in range(len(inventory)):
    product_values.append((round(inventory[i] * prices[i], 2)))
    
product_values

[29.9, 1399.86, 2199.9, 1349.85, 239.92, 269.73]

In [38]:
sum(product_values)

5489.16

In [48]:
word = 'Python'

for index in range(len(word)):
    print(word[index])

P
y
t
h
o
n

### Enumerate

In [52]:
item_names = [
    'Keychain', 'Helmet', 'Snowboard',
    'Ski Poles', 'Sweatshirt', 'Boots'
]

inventories = [10, 14, 10, 15, 8, 27]

prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

In [64]:
product_values = []

for i, inventory in enumerate(inventories):
    product_value = round(inventory * prices[i], 2)
    product_values.append(product_value)
    print(f'We have ${product_value} worth of {item_names[i]}.')
    
product_values

sum(product_values)

We have $29.9 worth of Keychain.
We have $1399.86 worth of Helmet.
We have $2199.9 worth of Snowboard.
We have $1349.85 worth of Ski Poles.
We have $239.92 worth of Sweatshirt.
We have $269.73 worth of Boots.

5489.16

In [70]:
word = 'Python'

for i, letter in enumerate(word):
    print(i, letter)

0 P
1 y
2 t
3 h
4 o
5 n

### Assignment 1

In [74]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

In [76]:
taxes = []
totals = []

# This is code Stuart used to calculate the tax and total
# for a single subtotal, can you put them in a loop?
for subtotal in subtotals:
    tax = round(subtotal * .08, 2)
    total = round(subtotal + tax, 2)

    taxes.append(tax)
    totals.append(total)

print(taxes)
print(totals)

[1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
[17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

### Assignment 2

In [80]:
subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99, 
    599.99, 24.99, 1799.94, 99.99
]

location = [
    'Sun Valley', 'Stowe', 'Mammoth', 'Stowe', 'Sun Valley', 
    'Mammoth', 'Mammoth', 'Mammoth', 'Sun Valley'
]

In [90]:
taxes = []
totals = []

for i, subtotal in enumerate(subtotals):
    if location[i] == 'Sun Valley':
        tax = round(subtotal * 0.08, 2)
    elif location[i] == 'Stowe':
        tax = round(subtotal * 0.06, 2)
    elif location[i] == 'Mammoth':
        tax = round(subtotal * 0.0775, 2)

    total = round(subtotal + tax, 2)
    taxes.append(tax)
    totals.append(total)


print(taxes)
print(totals)

[1.28, 54.0, 62.0, 7.08, 0.48, 46.5, 1.94, 139.5, 8.0]
[17.26, 953.97, 861.97, 125.04, 6.47, 646.49, 26.93, 1939.44, 107.99]

## While

In [100]:
customer_ratings = [
    '5 stars', '3 stars', '1 stars', '5 stars', '1 stars', '4 stars', '4 stars',
    '1 stars', '1 stars', '4 stars', '5 stars', '2 stars', '5 stars', 
]

In [102]:
onestar_counter = 0

while '1 stars' in customer_ratings:
    customer_ratings.remove('1 stars')
    onestar_counter += 1
    print(onestar_counter)

customer_ratings

1
2
3
4

['5 stars',
 '3 stars',
 '5 stars',
 '4 stars',
 '4 stars',
 '4 stars',
 '5 stars',
 '2 stars',
 '5 stars']

### Assignment 3

In [106]:
current_inventory = 686
monthly_sales = 84
month = 0

In [108]:
while current_inventory > 0:
    current_inventory -= monthly_sales
    month += 1
    print(f'At the end of month {month}, we have {current_inventory} pairs of skis')

At the end of month 1, we have 602 pairs of skis
At the end of month 2, we have 518 pairs of skis
At the end of month 3, we have 434 pairs of skis
At the end of month 4, we have 350 pairs of skis
At the end of month 5, we have 266 pairs of skis
At the end of month 6, we have 182 pairs of skis
At the end of month 7, we have 98 pairs of skis
At the end of month 8, we have 14 pairs of skis
At the end of month 9, we have -70 pairs of skis

## Nested Loops

items = ['skis', 'snowboards', 'goggles', 'boots']

item_reviews = [
    ['5 stars', '1 stars', '3 stars'],
    ['4 stars', '2 stars'],
    ['1 stars']
]

In [130]:
item_reviews_numeric = []

for item in item_reviews:
    integer_ratings = []
    for review in item:
        integer_rating = int(review[0])
        integer_ratings.append(integer_rating)
    item_reviews_numeric.append(integer_ratings)

item_reviews_numeric

[[5, 1, 3], [4, 2], [1]]

In [132]:
for item in item_reviews_numeric:
    print(sum(item)/len(item))

3.0
3.0
1.0

In [134]:
nested_list = [["A", "B", "C"], [1, 2, 3]]

In [138]:
for item in nested_list:
    for i in item:
        print(i)

A
B
C
1
2
3

### Assignment 4

In [142]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

multi_order_customers = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

multi_order_customers

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [170]:
discounted_prices = []

for item in multi_order_customers:
    items = []
    for i in item:
        items.append(round(i * .9,2))
    discounted_prices.append(items)
discounted_prices

[[1619.95, 26.98, 89.99],
 [14.38, 107.99],
 [22.49, 22.49],
 [584.99, 89.99],
 [539.99, 359.97]]

## Break Continue Pass

In [174]:
word = 'Python'

for letter in word:
    if letter == 't':
        continue
    print(letter)

P
y
h
o
n

In [182]:
word = 'Maven'

new_word = ''

for letter in word:
    if letter in 'aeiou':
        pass # create a new word with vowels later
    if letter == 'v':
        break
        
    new_word += letter

new_word

'Ma'

In [186]:
ratings = [
    '1 star', '5 star', '3 star', 'star 5', '4 star'
]

for rating in ratings:
    try:
        print(int(rating[0]))
    except ValueError:
        print('incorrect data')

1
5
3
incorrect data
4

### Assignment 5

In [218]:
price_list = [5.99, None, 19.99, 24.99, 0, '74.99', 99.99]

# loop to calculate how many of each item I can buy
budget = 50
for price in price_list:
    if price == None:
        continue
    try:
        affordable_quantity = budget//price  # My budget is 50 dollars
        print(f"I can buy {affordable_quantity} of these.")
    except ZeroDivisionError:
        print("This product is free, I can take as many as I like.")
    except TypeError:
        affordable_quantity = budget//float(price)
        print(f"I can buy {affordable_quantity} of these.")
    except:  # need to get rid of general except statement
        print('Thats not a number')

I can buy 8.0 of these.
I can buy 2.0 of these.
I can buy 2.0 of these.
This product is free, I can take as many as I like.
I can buy 0.0 of these.
I can buy 0.0 of these.